.container {
  background-image: url("../image/people-library-flat-vector-illustration_74855-6607.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 550px;
  height: 420px;
}
